<div class="card mb-2">
  <div class="card-header">
    <div class="d-flex justify-content-between">
      <div>
        <h5>{{ post.user?.name }}</h5>
        <small>{{ post.date! | relativeTime }}</small>
      </div>
      @if(user.id == post.user?.id){
      <div class="">
        <span class="delete-post p-3" (click)="deletePost()">x</span>
      </div>
      }
    </div>
  </div>

  <div class="card-body">
    <p>
      {{ post.textcontent }}
    </p>
  </div>

  <div class="card-footer">
    <div class="d-flex justify-content-between">
      <span class="post-btn-action" (click)="toggleLikePost()"
        >like ({{ post.likes?.length }})
      </span>
      <a class="post-btn-action" [routerLink]="['/post', post.id]"
        >comment ({{ post.comments?.length }})</a
      >
    </div>
  </div>
</div>
